/* De achtergrond- en tekstkleur van de loginknop, toevoegen knop en tonen knop instellen */
#loginButton, #addShowingButton, #selectSeatsButton, #sellSeatsTicketsButton {
    -fx-background-color: #1E90FF;
    -fx-text-fill: #FFFFFF;
}

/* De kleur en dikte van de randen van het gebruikers- en wachtwoordveld instellen */
#passwordField, #usernameField, #addShowingTitleTextFiels, #addShowingStartDateDatePicker, #addShowingEndDateDatePicker, #addShowingEndTimeTextFiels, #addShowingStartTimeTextFiels {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #808080;
}

/* De kleur, grootte en dikte van de tekst Login instellen */
#loginLabel {
    -fx-font-weight: bold;
    -fx-text-fill :#D3D3D3;
    -fx-font-size: 24.0;
}

/* De tekstkleur van de foutmelding instellen */
#invalidUserMessage, #deleteFailMessage, #invalitDataMessage, #sellFailMessage {
    -fx-text-fill: #FF0000
}

/* De achtergrond kleur van de HBar aanpassen van de menubalk instellen */
#menuBarHBox {
    -fx-background-color: #000000;
}

/* De grootte, dikte en kleur van de naam van de applicatie in de menubalk instellen */
#nameOfSystem {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 26.0;
    -fx-font-weight: bold;
}

/* De achtergrond- en tekstkleur em dikte van de tekst van de menuknoppen instellen*/
#sellTicketsButton, #manageShowingsButton, #viewSalesHistoryButton {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #737474;
    -fx-font-weight: bold;
}

/* De tekstkleur en grootte van de welkomsttekst en schermtekst instellen*/
#welcomeMassageWhiteName, #manageShowingsTitleLabel, #addShowingTitleLabel, #sellTicketsTitleLabel, #viewSalesHistoryTitleLabel {
    -fx-text-fill :#737474;
    -fx-font-size: 24.0;
}

/* De achtergrondkleur van het scherm instellen */
#mainScreenVBox {
    -fx-background-color: #E6E6E6;
}

/* De kleur van de balk en tekst boven de tabel instellen */
#roomNumberLabel {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
}

/* De achtergrondkleur van de bewerken knop instellen */
#editShowingButton, #cancelButton {
    -fx-background-color: #737474;
}

/* De achtergrondkleur van de verwijderen knop instellen */
#deleteShowingButton {
    -fx-background-color: #FF0000;
}

/* De tekstkleur van de toevoegen, bewerken en verwijderen knoppen instellen */
#addShowingButton, #editShowingButton, #deleteShowingButton, #cancelButton {
    -fx-text-fill: #FFFFFF;
}

/* De achtergrondkleur van de VBox instellen */
#addDataVBox, #showInformationVBox, #viewScreenHBox {
    -fx-background-color: #FFFFFF;
}

/* De tekst ved instellen */
#informationAboutSelectedShowLabel {
    -fx-font-weight: bold;
}